body {
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: repeat(3, minmax(100px, max-content));
    grid-gap: 10px;
    max-width: 1200px;
    margin: auto;
}

.header {
    grid-column: 1/-1;
    border-bottom: 1px solid slategrey;
    position: relative;
}

.main {
    grid-column: 1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(425px,1fr));
}

.aside {
    grid-column: 2;
    border-left: 1px solid slategrey;
    padding: 10px;
}

.footer {
    grid-column: 1/-1;
    border-top: 1px solid slategrey;
}

.menu-list {
    position: absolute;
    bottom: 0; 
    right: 0;
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
}

.menu-list li {
    display: inline-block;
    font-size: 22px;
    padding: 6px;
    font-weight: bold;
}

.menu-list li:hover {
    background-color: lightgray;
}

.menu-item:hover {
    color: midnightblue;
}

.menu-item-active {
    color: #2da1c4;
}

.header-icons {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
}

.social-list {
    list-style-type: none;
    display: inline-block;
}

.footer .social-list {
    margin-top: 20px;
    margin-right: 100px;
}

.copyright {
    font-size: 16px;
    display: inline-block;
}

.social-list li
{
    display: inline-block;
}

.search-icon {
    display: inline-block;
    position: relative;
    top: -10px;
    margin-left: 20px;
}

.menu-hamburger {
    display: none;
    margin-top: 20px;
    padding: 10px;
}


@media all and (max-width: 780px) {
    .menu-list,
    .header-icons .social-list {
        display: none;
    }

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, minmax(30px, max-content));
        grid-gap: 5px;
    }

    .menu-hamburger {
        display: block;
        grid-column: 1;
    }

    .header-icons {
        grid-column: 2;
    }

    .search-icon {
        margin-top: 15px;
    }

    .logo {
        grid-column: 1/-1;
        margin: auto;
    }

    .container {
        grid-template-rows: repeat(4, minmax(100px, max-content));
    }

    .main {
        grid-column: 1/-1;
    }

    .aside {
        grid-column: 1/-1;
        border-top: 1px solid slategrey;
        border-left: 0px;
    }
}